.card {
  justify-content: center;
  width: 100%;
  height: 202px;
  /* background-color: aqua; */
  border-radius: 30px;
}
.card-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  width: 30%;
  height: 20%;
  background-color: whitesmoke;
  border-radius: 45px;
}
.outer-level {
  width: 75%;
  margin-top: 70px;
  margin-right: 12.5%;
  margin-left: 12.5%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(235, 235, 235);
  justify-content: center;

  border-radius: 45px;
}
.housing {
  justify-content: center;
  align-items: center;
  background-color: white;
}

.inner-card {
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 10%;
  background-color:whitesmoke;

}

input{
  height: 40px;
  width: 100%;
  border: solid grey 0.1px;
}

.submit{
  margin: 3px;
  border-radius: 10px;
  padding: 10px;
  background-color: aqua;
  color: black;

}

.submit:hover{
  background-color: rgba(00, 235, 235, 0.8);
}

.navlink{
  font-family: fantasy;
  color: black;
  text-decoration: none;
}

.info{
  font-family: fantasy;
  color: black;
}

.modal-logo{
  /* margin-left: 10%; */
  border-radius: 45px;
}

.spot-image {
  width: 40%;
  height: 250px;
}

.side-pic {
  flex-wrap: wrap;
  height: 120px;
  width: 40%;
  /* width: auto; */
  margin-left: 0.5%;
  border: solid grey 0.1px;
}

.outer{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.holder {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
  justify-content: flex-start;
  align-items: center;

}

.outer-most {
  width: 72.3%;
  height: 50%;
  background-color: whitesmoke;
  border: solid grey 0.1px;
  margin-left: 10%;
  margin-top: 70px;
  margin-right: 10%;
  justify-content: center;
  border-radius: 45px;
  flex-direction: row;
  padding: 3%;
}

/* #root {
  justify-content: center;
} */

button{
  /* margin: 5px; */
  padding: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.1)
}


.reviews-holder{
  width: 100%;
  height: 20%;
  margin-left: 20%;
  justify-content: center;
}

.base-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
  padding-bottom: 20px;
}

.images{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#logo {
  margin-top: 40%;
  width: 80px;
  height: 25px;
}

#topBar{
  position: sticky;
  display: flex;
  width: 69.420%;
  margin-left: 10%;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.profile-dropdown {
  border: solid grey 0.1px;
  border-radius: 10px;
}

.li {
  border-bottom: solid white 0.1px;
  justify-content: left;
}
ul {
  list-style: none;
  justify-content: left;
}

.uniform {
  width: 100%;
}

.dropdown-housing{
  position: absolute;
}
.user-button{
  width: 150px;
}

.details-name{
  font-size:xx-large ;
  font-weight: 200;
}
